<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="UTF-8">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    </head>
    <body>
    	<h4>
     Email 地址验证
    	</h4>
    	<br>
        <h5>
             尊敬的${user.username}：
        </h5>  
        <h5>     
            您的账户已于系统时间${regTime}注册成功。  
        </h5>
        <h5>
            您收到这封邮件，是由于在汽车4S管理系统进行了新用户注册，或用户修改 Email使用 了这个邮箱地址。如果您并没有访问汽车4S管理系统，或没有进行上述操作，请忽略这封邮件。您不需要退订或进行其他进一步的操作。
        </h5>
        <br>
     ----------------------------------------------------------------------
	    <h4>
	  帐号激活说明
	    </h4>
	 ----------------------------------------------------------------------
        <br>
        <h5>
            您只需点击下面的链接即可激活您的帐号：  
        </h5>    
            <a href="https://localhost:8443/CarManager/user/site/active/u/${user.email}/e/${user.activeCode}">https://localhost:8443/CarManager/site/active/u/${user.email}/e/${user.activeCode}</a>  
         <h5>  
             该链接有效期为48小时，请及时激活。(如果点击链接无反应，请复制链接到浏览器里直接打开)
        </h5>
        <h5>
            系统将自动跟踪并激活您的帐户。  
        </h5>
        <h5>
            感谢您的关注和支持！  
        </h5>
	 -----------------------------------------------------------------------  
        <h5>     
             此致
        </h5>
        <h5>
	 汽车4S管理系统团队.
        </h5>    
    </body>  
</html>